<template>
    <div class="v-edit-comment">
        <!-- Modal -->
        <div class="modal fade" id="modalEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add comment</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="updateComment()">
                            <div class="mb-3">
                                <label for="OrderInput" class="form-label">Serial number</label>
                                <input
                                    v-model="comment.order"
                                    type="number"
                                    class="form-control"
                                    id="OrderInput"
                                    :class="{ 'is-invalid': $v.comment.order.$error }"
                                >
                                <div class="invalid-feedback" v-if="!$v.comment.order.required">
                                    Required
                                </div>
                                <div class="invalid-feedback" v-if="!$v.comment.order.integer">
                                    Only whole numbers are allowed
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="MessageInput" class="form-label">Comment</label>
                                <textarea
                                    v-model="comment.message"
                                    type="text"
                                    class="form-control"
                                    id="MessageInput"
                                    :class="{ 'is-invalid': $v.comment.message.$error }"
                                    rows="3"
                                >
                                </textarea>
                                <div class="invalid-feedback" v-if="!$v.comment.message.required">
                                    Required
                                </div>
                                <div class="invalid-feedback" v-if="!$v.comment.message.maxLength">
                                    Maximum length {{ $v.comment.message.$params.maxLength.max }} characters.
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {integer, maxLength, required} from "vuelidate/lib/validators";
import {mapGetters} from "vuex";

export default {
    name: "v-edit-comment",
    data() {
        return {
            //Comment
            comment: {
                id: null,
                order: null,
                message: null,
            },
        }
    },
    computed:{
        ...mapGetters([
            'EDIT_COMMENT'
        ]),
    },
    methods:{
        updateComment(){
            let comment = this.comment;
            for (let elem in comment) {
                this.$v.comment[elem].$touch();
                if (this.$v.comment[elem].$anyError) {
                    return;
                }
            }
            this.$emit('updateComment', comment)
        },
        modalClose(){
            $('#modalEdit').modal('toggle');
            return false;
        },
        modalReset(){
            for (const element in this.comment) {
                this.comment[element] = null
            }
        },
        modalShow(){
            this.comment = this.EDIT_COMMENT;
            $('#modalEdit').modal('show');
        }
    },
    validations: {
        comment: {
            id: {
                integer
            },
            order: {
                required,
                integer
            },
            message: {
                required,
                maxLength: maxLength(255)
            },
        }
    }
}
</script>

<style scoped>

</style>
