<template>
    <div class="v-login">
        <div class="container-fluid d-flex h-100 justify-content-center align-items-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="card text-center">
                        <h2 class="card-header">Авторизация</h2>
                        <div class="card-body">
                            <div v-if="status.success" class="alert alert-success mt-3" role="alert">
                                <p>{{notify.message}}</p>
                            </div>
                            <div v-if="status.error" class="alert alert-danger mt-3" role="alert">
                                <p>{{notify.message}}</p>
                            </div>
                            <form @submit.prevent="login()">
                                <div class="form-group">
                                    <label for="inputEmail">Email</label>
                                    <input
                                        v-model="user.email"
                                        type="text"
                                        class="form-control"
                                        :class="{ 'is-invalid': $v.user.email.$error }"
                                        id="inputEmail"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.user.email.required">
                                        Обязательно к заполнению
                                    </div>
                                    <div class="invalid-feedback" v-if="!$v.user.email.email">
                                        Не валидный email
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword">Пароль</label>
                                    <input
                                        v-model="user.password"
                                        type="password"
                                        class="form-control"
                                        :class="{ 'is-invalid': $v.user.password.$error }"
                                        id="inputPassword"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.user.password.required">
                                        Обязательно к заполнению
                                    </div>
                                </div>
                                <div class="form-group form-check">
                                    <input
                                        v-model="user.remember_me"
                                        type="checkbox"
                                        class="form-check-input"
                                        @click="changeRememberMe()"
                                        id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Запомнить меня</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Отправить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {
        mapActions,
        mapGetters
    } from "vuex";

    import {
        required,
        maxLength,
        email,
        between
    } from 'vuelidate/lib/validators';
    import router from "../../router/router";

    export default {
        name: "v-login",
        data(){
            return{
                user:{
                    email: null,
                    password: null,
                    remember_me: false
                },
                cabinet: 'manager',
                status:{
                    success: false,
                    error: false,
                },
                notify: {
                    message: null
                }
            }
        },
        computed:{
            ...mapGetters([
                'AUTH_STATUS'
            ]),
        },
        methods:{
            ...mapActions([
                'LOGIN',
            ]),
            login(){
                let user = this.user;
                let cabinet = this.cabinet;

                for (let elem in user){
                    this.$v.user[elem].$touch();
                    if (this.$v.user[elem].$anyError) {
                        return;
                    }
                }
                this.LOGIN({user, cabinet})
                    .then(response => {
                        this.status.success = true;
                        this.status.error = false;
                        this.notify.message = response.data.message;
                        this.$v.$reset();
                        const redirectTo = this.$route.query.redirect;
                        router.push({ path: redirectTo })
                        }
                    ).catch(error => {
                        //console.error(error.response.data.error.message)
                        this.status.success = false;
                        this.status.error = true;
                        this.notify.message = error.response.data.message;
                    })
            },
            changeRememberMe(){
                this.user.remember_me = !this.user.remember_me;
            }
        },
        validations:{
            user:{
                email: {
                    required,
                    email,
                    maxLength: maxLength(255)
                },
                password: {
                    required,
                },
                remember_me: {
                    between
                }
            }
        }
    }
</script>

<style>
    .v-login{
        height: 100%;
    }
    .card{
        opacity: 0.85;
    }
    .card-header{
        background-color: #75B04E;
        color: #fff3cd;
    }
    .card-body .btn{
        background-color: #75B04E;
        color: #fff3cd;
    }
</style>
