<template>
    <div id="vue">
        <v-main-wrapper />
    </div>
</template>

<script>
    import vMainWrapper from './v-main-wrapper'

    export default {
        name: 'App',
        components: {
            vMainWrapper
        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>
