<template>
    <div class="v-edit-employee">
        <!-- Modal -->
        <div class="modal fade" id="modalEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Edit employee</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div v-if="status.error" class="alert alert-danger mt-3" role="alert">
                            <ul>
                                <li v-for="message in notify.messages">{{message}}</li>
                            </ul>
                        </div>
                        <form @submit.prevent="updateEmployee()">
                            <div class="mb-3">
                                <div class="form-group">
                                    <label for="inputName">Name</label>
                                    <input
                                        v-model="employee.name.name"
                                        type="text"
                                        class="form-control"
                                        :class="{ 'is-invalid': $v.employee.name.name.$error }"
                                        id="inputName"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.employee.name.name.required">
                                        Required
                                    </div>
                                    <div class="invalid-feedback" v-if="!$v.employee.name.name.maxLength">
                                        Maximum length {{$v.employee.name.name.$params.maxLength.max}} characters.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail">Email</label>
                                    <input
                                        v-model="employee.email.email"
                                        type="text"
                                        class="form-control"
                                        :class="{ 'is-invalid': $v.employee.email.email.$error }"
                                        id="inputEmail"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.employee.email.email.required">
                                        Required
                                    </div>
                                    <div class="invalid-feedback" v-if="!$v.employee.email.email">
                                        Not valid email
                                    </div>
                                    <div class="invalid-feedback" v-if="!$v.employee.email.email.maxLength">
                                        Maximum length {{$v.employee.email.email.$params.maxLength.max}} characters.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail">Phone</label>
                                    <input
                                        v-model="employee.phone.phone"
                                        type="text"
                                        class="form-control"
                                        :class="{ 'is-invalid': $v.employee.phone.phone.$error }"
                                        id="inputEmail"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.employee.phone.phone.maxLength">
                                        Maximum length {{$v.employee.phone.phone.$params.maxLength.max}} characters.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="roleSelect">Roles</label>
                                    <select
                                        v-model="employee.roles.roles"
                                        class="form-control"
                                        :class="{ 'is-invalid': $v.employee.roles.roles.$error }"
                                        id="roleSelect"
                                        multiple="multiple"
                                    >
                                        <option v-for="option_role in options_roles" :value="option_role.slug" :selected="true">
                                            {{option_role.name}}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback" v-if="!$v.employee.roles.roles.required">
                                        Required
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="roleSelect">Salary percent</label>
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <input
                                                v-model="employee.salary_type.salary_type"
                                                class="form-check-input mt-0"
                                                type="radio"
                                                value="salary_percent"
                                                @change="turnOnOfSalaryInput()"
                                            >
                                        </div>
                                        <input
                                            v-model="employee.salary_percent.salary_percent"
                                            type="text"
                                            class="form-control"
                                            placeholder="Salary percent"
                                            :disabled="radio_button.statusSalaryPercentInput === 'disabled'"
                                        >
                                    </div>
                                    <label for="roleSelect">Salary rate</label>
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <input
                                                v-model="employee.salary_type.salary_type"
                                                class="form-check-input mt-0"
                                                type="radio"
                                                value="salary_rate"
                                                @change="turnOnOfSalaryInput()"
                                            >
                                        </div>
                                        <input
                                            v-model="employee.salary_rate.salary_rate"
                                            type="text"
                                            class="form-control"
                                            placeholder="Salary rate"
                                            :disabled="radio_button.statusSalaryRateInput === 'disabled'"
                                        >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword">Password</label>
                                    <input
                                        v-model="employee.password.password"
                                        type="password"
                                        class="form-control"
                                        :class="{ 'is-invalid': $v.employee.password.password.$error }"
                                        id="inputPassword"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.employee.password.password.required">
                                        Required
                                    </div>
                                    <div class="invalid-feedback" v-if="!$v.employee.password.password.minLength">
                                        Min Length {{$v.employee.password.password.$params.minLength.min}} characters.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordConfirm">Password confirm</label>
                                    <input
                                        v-model="employee.password_confirmation.password_confirmation"
                                        type="password"
                                        class="form-control"
                                        :class="{ 'is-invalid': $v.employee.password_confirmation.password_confirmation.$error }"
                                        id="inputPasswordConfirm"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.employee.password_confirmation.password_confirmation.required">
                                        Required
                                    </div>
                                    <div class="invalid-feedback" v-if="!$v.employee.password_confirmation.password_confirmation.minLength">
                                        Min Length {{$v.employee.password_confirmation.password_confirmation.$params.minLength.min}} characters.
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {email, integer, maxLength, minLength, required} from "vuelidate/lib/validators";
import {mapGetters} from "vuex";

export default {
    name: "v-edit-employee",
    data() {
        return {
            //Employee
            employee: {
                id: {
                    validate:  'on',
                    id: null
                },
                name: {
                    validate:  'on',
                    name: null
                },
                email: {
                    validate:  'on',
                    email: null
                },
                phone: {
                    validate:  'on',
                    phone: null
                },
                roles: {
                    validate:  'on',
                    roles: []
                },
                salary_type:{
                    validate:  'off',
                    salary_type: null,
                },
                salary_percent:{
                    validate:  'on',
                    salary_percent: null,
                },
                salary_rate:{
                    validate:  'on',
                    salary_rate: null,
                },
                password: {
                    validate:  'on',
                    password: null
                },
                password_confirmation: {
                    validate:  'on',
                    password_confirmation: null
                },
            },
            radio_button:{
                statusSalaryPercentInput: 'enabled',
                statusSalaryRateInput: 'disabled',
            },
            options_roles:[
                {
                    slug: 'manager',
                    name: 'Менеджер'
                },
                {
                    slug: 'seller',
                    name: 'Продавец'
                },
            ],
            status:{
                success: false,
                error: false,
            },
            notify:{
                messages: [],
            },
        }
    },
    computed: {
        ...mapGetters([
            'EDIT_EMPLOYEE'
        ]),
    },
    methods: {
        editEmployeeTransform(){
            const editEmployee = this.EDIT_EMPLOYEE;
            editEmployee.roles.roles = this.filterRoles(editEmployee);
            return editEmployee;
        },
        filterRoles(editEmployee){
            return editEmployee.roles.roles.map(function (item){
                return item.slug
            })
        },
        hasRole(role){
            const roles = this.employee.roles.roles

            for (const roleKey in roles) {
                if (roles[roleKey].slug === role){
                    return true
                }
            }
            return false
        },
        updateEmployee() {
            let employee = this.employee;
            this.status.error = false;

            for (let elem in employee){
                if (employee[elem].validate === 'on'){
                    this.$v.employee[elem][elem].$touch();
                    if (this.$v.employee[elem][elem].$anyError) {
                        return;
                    }
                }
            }
            this.$emit('updateEmployee', employee)
        },
        modalClose() {
            $('#modalEdit').modal('toggle');
            return false;
        },
        modalReset() {
            for (const element in this.employee) {
                this.employee[element][element] = null
            }
        },
        modalShow() {
            this.employee = this.editEmployeeTransform();
            $('#modalEdit').modal('show');
        },
        modalShowErrors(errors){
            this.status.error = true;
            this.notify.messages = errors;
        },
        turnOnOfSalaryInput(){
            switch (this.employee.salary_type.salary_type) {
                case 'salary_percent':
                    this.radio_button.statusSalaryPercentInput = 'enabled'
                    this.radio_button.statusSalaryRateInput = 'disabled'
                    break
                case 'salary_rate':
                    this.radio_button.statusSalaryRateInput = 'enabled'
                    this.radio_button.statusSalaryPercentInput = 'disabled'
                    break
            }
        }
    },
    validations: {
        employee: {
            id: {
                id:{
                    integer
                }
            },
            name: {
                name:{
                    required,
                    maxLength: maxLength(255)
                }
            },
            email: {
                email:{
                    required,
                    email,
                    maxLength: maxLength(255)
                }
            },
            phone: {
                phone:{
                    maxLength: maxLength(11)
                }
            },
            roles:{
                roles:{
                    required,
                }
            },
            salary_percent:{
                salary_percent:{
                    integer,
                },
            },
            salary_rate:{
                salary_rate:{
                    integer,
                },
            },
            company_name:{
                company_name:{
                    required
                }
            },
            company_id:{
                company_id:{
                    required
                }
            },
            password: {
                password:{
                    required,
                    minLength: minLength(8)
                }
            },
            password_confirmation: {
                password_confirmation:{
                    required,
                    minLength: minLength(8)
                }
            },
        }
    }
}
</script>

<style scoped>

</style>
