<template>
    <div class="v-advertising">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mt-3">Advertising costs (UAH)</h1>
                    <button
                        type="button"
                        class="btn btn-success mt-2"
                        @click="modalShowCreateAdvertising()"
                    >
                        Add
                    </button>
                    <div class="table-responsive mb-3">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Actions</th>
                                <th scope="col">Year</th>
                                <th scope="col">January</th>
                                <th scope="col">February</th>
                                <th scope="col">March</th>
                                <th scope="col">April</th>
                                <th scope="col">May</th>
                                <th scope="col">June</th>
                                <th scope="col">July</th>
                                <th scope="col">August</th>
                                <th scope="col">September</th>
                                <th scope="col">October</th>
                                <th scope="col">November</th>
                                <th scope="col">December</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="advertising in this.ADVERTISINGS">
                                <td>
                                    <button
                                        type="button"
                                        class="btn btn-outline-primary btn-sm mt-1"
                                        @click="modalShowEditAdvertising(advertising.id)"
                                    >
                                        Edit
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-outline-danger btn-sm mt-1"
                                        @click="deleteAdvertising(advertising.id)"
                                    >
                                        Delete
                                    </button>
                                </td>
                                <td class="year">{{advertising.year}}</td>
                                <td v-for="(cost, month) in advertising.months"
                                    class="month"
                                >
                                    <div v-if="isVisibleAdvertisingMonthInput(advertising.id, month)">
                                        <div class="input-group mb-3">
                                            <input
                                                v-model="advertisingMonthCost"
                                                @blur="updateAdvertisingMonth()"
                                                type="text"
                                                class="form-control"
                                                placeholder="0.00"
                                                aria-label="cost"
                                                aria-describedby="button-addon2">
                                            <button
                                                type="button"
                                                class="btn btn-outline-secondary"
                                                aria-label="Close"
                                                @click="closeAdvertisingMonthInput()"
                                                id="button-addon2"
                                            >
                                                x
                                            </button>
                                        </div>
                                    </div>
                                    <div v-else
                                         @click="editAdvertisingMonth(advertising.id, advertising.year, month)"
                                    >
                                        {{ cost | defaultCost}}
                                        <i class="fas fa-edit"></i>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Modals -->
                    <vCreateAdvertising
                        @storeAdvertising="storeAdvertising"
                        ref="vCreateAdvertising"
                    />
                    <vEditAdvertising
                        @updateAdvertising="updateAdvertising"
                        ref="vEditAdvertising"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import vCreateAdvertising from "../modals/advertisting/v-create-advertisting";
import vEditAdvertising from "../modals/advertisting/v-edit-advertisting";
import defaultCost from "../../filters/defaultCost"
import {mapGetters, mapActions} from "vuex";

export default {
    name: "v-advertising",
    data(){
        return {
            //advertising
            advertising: {},
            showAdvertisingMonthInput: {
                id: null,
                year: null,
                month: null
            },
            advertisingMonthCost: null,
        }
    },
    filters: {
        defaultCost
    },
    computed:{
        ...mapGetters([
            'ADVERTISINGS',
            'EDIT_ADVERTISING'
        ]),
    },
    components: {
        vCreateAdvertising,
        vEditAdvertising
    },
    methods:{
        ...mapActions([
            'GET_ADVERTISINGS_FROM_API',
            'GET_ADVERTISING_BY_ID_FROM_API',
            'STORE_ADVERTISING_TO_API',
            'UPDATE_ADVERTISING_TO_API',
            'DELETE_ADVERTISING_TO_API'
        ]),
        modalShowCreateAdvertising() {
            this.$refs.vCreateAdvertising.modalShow();
        },
        modalShowEditAdvertising(id) {
            this.GET_ADVERTISING_BY_ID_FROM_API(id)
                .then(response => {
                    this.$refs.vEditAdvertising.modalShow();
                })
                .catch(error => {
                    console.error(error)
                })
        },
        storeAdvertising(advertising) {
            this.STORE_ADVERTISING_TO_API(advertising)
                .then(response => {
                    console.log(response)
                    this.GET_ADVERTISINGS_FROM_API()
                    this.$refs.vCreateAdvertising.modalReset();
                    this.$refs.vCreateAdvertising.$v.$reset();
                    this.$refs.vCreateAdvertising.modalClose();
                })
                .catch(error => {
                    console.error(error.response.data)
                })
        },
        updateAdvertising(advertising) {
            this.UPDATE_ADVERTISING_TO_API(advertising)
                .then(response => {
                    this.GET_ADVERTISINGS_FROM_API()
                    this.$refs.vEditAdvertising.$v.$reset();
                    this.$refs.vEditAdvertising.modalClose();
                })
                .catch(error => {
                    console.error(error.response.data)
                })
        },
        deleteAdvertising(id) {
            this.DELETE_ADVERTISING_TO_API(id)
                .then(response => {
                    console.log(response.data)
                    this.GET_ADVERTISINGS_FROM_API()
                })
                .catch(error => {
                    console.error(error.response.data)
                })
        },
        editAdvertisingMonth(id, year, month){
            this.GET_ADVERTISING_BY_ID_FROM_API(id)
                .then(response => {
                    this.showAdvertisingMonthInput.id = id
                    this.showAdvertisingMonthInput.year = year
                    this.showAdvertisingMonthInput.month = month
                    this.advertisingMonthCost = this.EDIT_ADVERTISING.months[month]
                })
                .catch(error => {
                    console.error(error)
                })
        },
        updateAdvertisingMonth(){
            this.advertising = this.EDIT_ADVERTISING;
            const advertising = this.advertising
            const id = this.showAdvertisingMonthInput.id
            const year = this.showAdvertisingMonthInput.year
            const month = this.showAdvertisingMonthInput.month
            const cost = this.advertisingMonthCost

            advertising.id = id
            advertising.year = year
            advertising.months[month] = cost

            this.UPDATE_ADVERTISING_TO_API(advertising)
                .then(response => {
                    this.GET_ADVERTISINGS_FROM_API()
                    this.closeAdvertisingMonthInput()
                })
                .catch(error => {
                    console.error(error.response.data)
                })
        },
        closeAdvertisingMonthInput(){
            for (const element in this.showAdvertisingMonthInput) {
                this.showAdvertisingMonthInput[element] = null
            }
        },
        isVisibleAdvertisingMonthInput(id, month){
            return this.showAdvertisingMonthInput.id === id && this.showAdvertisingMonthInput.month === month
        }
    },
    mounted() {
        this.GET_ADVERTISINGS_FROM_API()
    },
}
</script>

<style scoped>
.year{
    background-color: #808080;
    color: #fff;
    border-radius: 5px;
    text-align:center;
}
</style>
