<template>
    <div class="v-analytics">
        <div class="container">
            <h1 class="pt-3">
                Order statuses for a period of time
            </h1>
            <div class="row p-5">
                <div class="col-lg-4  mt-5">
                    <canvas class="canvas" id="canvasDay"></canvas>
                    <div id="canvasDayInfo"></div>
                </div>
                <div class="col-lg-4  mt-5">
                    <canvas class="canvas" id="canvasWeek"></canvas>
                    <div id="canvasWeekInfo"></div>
                </div>
                <div class="col-lg-4  mt-5">
                    <canvas class="canvas" id="canvasMonth"></canvas>
                    <div id="canvasMonthInfo"></div>
                </div>
                <div class="col-lg-4  mt-5">
                    <canvas class="canvas" id="canvasYear"></canvas>
                    <div id="canvasYearInfo"></div>
                </div>
                <div class="col-lg-4  mt-5 mb-5">
                    <canvas class="canvas" id="canvasAll"></canvas>
                    <div id="canvasAllInfo"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Piechart from "../Classes/Piechart";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "v-analytics",
    data() {
        return {
            diagrams: {
                title_default: 'Not enough data',
                color_default: ["#FAFAFA"],
                day: {
                    title: 'Day',
                    data: {
                        New: {
                            count: 0,
                            color: "#FAFAFA"
                        },
                        Processing: {
                            count: 0,
                            color: "#FF8000"
                        },
                        Completed: {
                            count: 0,
                            color: "#31B404"
                        },
                        Rejected: {
                            count: 0,
                            color: "#FF0000"
                        },
                    },
                    doughnutHoleSize: 0.5,
                },
                week: {
                    title: 'Week',
                    data: {
                        New: {
                            count: 0,
                            color: "#FAFAFA"
                        },
                        Processing: {
                            count: 0,
                            color: "#FF8000"
                        },
                        Completed: {
                            count: 0,
                            color: "#31B404"
                        },
                        Rejected: {
                            count: 0,
                            color: "#FF0000"
                        },
                    },
                    doughnutHoleSize: 0.5,
                },
                month: {
                    title: 'Month',
                    data: {
                        Completed: {
                            count: 0,
                            color: "#31B404"
                        },
                        Rejected: {
                            count: 0,
                            color: "#FF0000"
                        },
                    },
                    doughnutHoleSize: 0.5,
                },
                year: {
                    title: 'Year',
                    data: {
                        Completed: {
                            count: 0,
                            color: "#31B404"
                        },
                        Rejected: {
                            count: 0,
                            color: "#FF0000"
                        },
                    },
                    doughnutHoleSize: 0.5,
                },
                all: {
                    title: 'All',
                    data: {
                        Completed: {
                            count: 0,
                            color: "#31B404"
                        },
                        Rejected: {
                            count: 0,
                            color: "#FF0000"
                        },
                    },
                    doughnutHoleSize: 0.5,
                },
            }
        }
    },
    computed: {
        ...mapGetters([
            'COUNT_ORDERS'
        ]),
    },
    methods: {
        ...mapActions([
            'GET_COUNT_ORDERS_FROM_API'
        ]),
        dataConvertingPaddingCountOrders() {
            for (const [key, value] of Object.entries(this.COUNT_ORDERS)){
                if (Object.entries(value).length){
                    if (key === 'month' || key === 'year' || key === 'all'){
                        this.setDataOrdersMonthYearAll(key, value)
                    }else {
                        this.setDataOrdersDayWeek(key, value)
                    }
                }else {
                    this.setDefaultDataOrdersPeriod(key)
                }
             }
        },
        setDataOrdersDayWeek(key, value){
            for (const [key_category, value_category] of Object.entries(value)){
                if (value_category){
                    this.diagrams[key].data[key_category].count = value_category
                }
            }
        },
        setDataOrdersMonthYearAll(key, value){
            if (value.Completed > 0 || value.Rejected > 0){
                this.diagrams[key].data.Completed.count = value.Completed > 0 ? value.Completed : 0
                this.diagrams[key].data.Rejected.count = value.Rejected > 0 ? value.Rejected : 0
            }else {
                this.setDefaultDataOrdersPeriod(key)
            }
        },
        setDefaultDataOrdersPeriod(key){
            this.diagrams[key].data.title = this.diagrams.title_default
            this.diagrams[key].data = {
                Notdata: {
                    count: 1,
                    color: this.diagrams.color_default
                }
            }
        },
        //Day
        canvasDay() {
            return document.getElementById("canvasDay");
        },
        canvasDayInfo() {
            return document.getElementById("canvasDayInfo");
        },
        //Week
        canvasWeek() {
            return document.getElementById("canvasWeek");
        },
        canvasWeekInfo() {
            return document.getElementById("canvasWeekInfo");
        },
        //Month
        canvasMonth() {
            return document.getElementById("canvasMonth");
        },
        canvasMonthInfo() {
            return document.getElementById("canvasMonthInfo");
        },
        //Year
        canvasYear() {
            return document.getElementById("canvasYear");
        },
        canvasYearInfo() {
            return document.getElementById("canvasYearInfo");
        },
        //All
        canvasAll() {
            return document.getElementById("canvasAll");
        },
        canvasAllInfo() {
            return document.getElementById("canvasAllInfo");
        },
        canvasChart(diagrams, canvas, info) {
            const myDougnutChart = new Piechart(
                {
                    canvas: canvas,
                    title: diagrams.title,
                    data: diagrams.data,
                    colors: diagrams.colors,
                    doughnutHoleSize: diagrams.doughnutHoleSize,
                    info: info
                }
            );
            myDougnutChart.draw();
        },
        run() {
            this.GET_COUNT_ORDERS_FROM_API()
                .then((response) => {
                    this.dataConvertingPaddingCountOrders();
                    this.canvasChart(this.diagrams.day, this.canvasDay());
                    this.canvasChart(this.diagrams.day, this.canvasDay(), this.canvasDayInfo());
                    this.canvasChart(this.diagrams.week, this.canvasWeek(), this.canvasWeekInfo());
                    this.canvasChart(this.diagrams.month, this.canvasMonth(), this.canvasMonthInfo());
                    this.canvasChart(this.diagrams.year, this.canvasYear(), this.canvasYearInfo());
                    this.canvasChart(this.diagrams.all, this.canvasAll(), this.canvasAllInfo());
                })
        }
    },
    mounted() {
        this.run()
    }
}
</script>

<style scoped>
.v-analytics {
    background-color: #D8D8D8;
}

.v-analytics .canvas {
    width: 100%;
}
</style>
