<template>
    <div class="v-comments">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mt-3">Comments</h1>
                    <button
                        type="button"
                        class="btn btn-success mt-2"
                        @click="modalShowCreateComment()"
                    >
                        Add
                    </button>
                    <div class="table-responsive mb-3">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Actions</th>
                                <th scope="col">Serial number</th>
                                <th scope="col">Message</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="comment in this.COMMENTS">
                                <td>
                                    <button
                                        type="button"
                                        class="btn btn-outline-primary btn-sm mt-1"
                                        @click="modalShowEditComment(comment.id)"
                                    >
                                        Edit
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-outline-danger btn-sm mt-1"
                                        @click="deleteComment(comment.id)"
                                    >
                                        Delete
                                    </button>
                                </td>
                                <th scope="row">{{ comment.order }}</th>
                                <td>{{ comment.message }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Modals -->
                    <vCreateComment
                        @storeComment="storeComment"
                        ref="vCreateComment"
                    />
                    <vEditComment
                        @updateComment="updateComment"
                        ref="vEditComment"
                    />
                </div>
            </div>
            <Pagination :changePage="getCommentsPagination" :data="this.COMMENTS_PAGINATION"/>
        </div>
    </div>
</template>

<script>
import vCreateComment from "../modals/comment/v-create-comment";
import vEditComment from "../modals/comment/v-edit-comment";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "v-comments",
    data() {
        return {
            //Comment
            comment: {
                order: null,
                message: null,
            },
        }
    },
    computed: {
        ...mapGetters([
            'COMMENTS',
            'COMMENTS_PAGINATION'
        ]),
    },
    components: {
        vCreateComment,
        vEditComment
    },
    methods: {
        ...mapActions([
            'GET_COMMENTS_FROM_API',
            'GET_COMMENT_BY_ID_FROM_API',
            'STORE_COMMENT_TO_API',
            'UPDATE_COMMENT_TO_API',
            'DELETE_COMMENT_TO_API'
        ]),
        modalShowCreateComment() {
            this.$refs.vCreateComment.modalShow();
        },
        modalShowEditComment(id) {
            this.GET_COMMENT_BY_ID_FROM_API(id)
                .then(response => {
                    this.$refs.vEditComment.modalShow();
                })
                .catch(error => {
                    console.error(error)
                })
        },
        storeComment(comment) {
            this.STORE_COMMENT_TO_API(comment)
                .then(response => {
                    console.log(response.data)
                    this.GET_COMMENTS_FROM_API()
                    this.$refs.vCreateComment.modalReset();
                    this.$refs.vCreateComment.$v.$reset();
                    this.$refs.vCreateComment.modalClose();
                })
                .catch(error => {
                    console.error(error.response.data)
                })
        },
        updateComment(comment) {
            this.UPDATE_COMMENT_TO_API(comment)
                .then(response => {
                    this.GET_COMMENTS_FROM_API()
                    this.$refs.vEditComment.$v.$reset();
                    this.$refs.vEditComment.modalClose();
                })
                .catch(error => {
                    console.error(error.response.data)
                })
        },
        deleteComment(id) {
            this.DELETE_COMMENT_TO_API(id)
                .then(response => {
                    console.log(response.data)
                    this.GET_COMMENTS_FROM_API()
                })
                .catch(error => {
                    console.error(error.response.data)
                })
        },
        getCommentsPagination(data) {
            this.GET_COMMENTS_FROM_API(data.page)
        }
    },
    mounted() {
        this.GET_COMMENTS_FROM_API()
    },
}
</script>

<style scoped>

</style>
