<template lang="html">
    <div class="v-main-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mt-3">Orders</h1>
                    <button
                        type="button"
                        class="btn btn-success mt-2"
                        @click="modalShowCreateOrder()"
                    >
                        Add
                    </button>
                    <div class="table-responsive mb-3">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Actions</th>
                                <th scope="col">id order</th>
                                <th scope="col">Status order</th>
                                <th scope="col">First name customer</th>
                                <th scope="col">Last name customer</th>
                                <th scope="col">Phone customer</th>
                                <th scope="col">Mail address customer</th>
                                <th scope="col">Name product</th>
                                <th scope="col">Purchase price (UAH)</th>
                                <th scope="col">Price (UAH)</th>
                                <th scope="col">Quantity (pcs)</th>
                                <th scope="col">Prepayment (UAH)</th>
                                <th scope="col">Discount (UAH)</th>
                                <th scope="col">Cash on delivery</th>
                                <th scope="col">Comment order</th>
                                <th scope="col">Profit (UAH)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="order in orders" :class="order.type_row_table">
                                <td>
                                    <button
                                        type="button"
                                        class="btn btn-outline-primary btn-sm mt-1"
                                        @click="modalShowEditOrder(order.id)"
                                    >
                                        Edit
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-outline-danger btn-sm mt-1"
                                        @click="deleteOrder(order.id)"
                                    >
                                        Delete
                                    </button>
                                </td>
                                <th scope="row">{{ order.id }}</th>
                                <td>{{ order.status }}</td>
                                <td>{{ order.customer.first_name }}</td>
                                <td>{{ order.customer.last_name }}</td>
                                <td>{{ order.customer.phone }}</td>
                                <td>{{ order.customer.mail_address }}</td>
                                <td>
                                    <p v-for="product in order.products">
                                        {{ product.name }}
                                    </p>
                                </td>
                                <td>
                                    <p v-for="product in order.products">
                                        {{ product.purchase_price }}
                                    </p>
                                </td>
                                <td>
                                    <p v-for="product in order.products">
                                        {{ product.price }}
                                    </p>
                                </td>
                                <td>
                                    <p v-for="product in order.products">
                                        {{ product.quantity_order_product }}
                                    </p>
                                </td>
                                <td>{{ order.prepayment }}</td>
                                <td>{{ order.discount }}</td>
                                <td>{{ order.cash_on_delivery }}</td>
                                <td>
                                    <span v-if="order.comment">
                                        {{ order.comment.message }}
                                    </span>
                                </td>
                                <td>{{ order.profit }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Modals -->
                    <vCreateOrder
                        @storeOrder="storeOrder"
                        ref="vCreateOrder"
                    />
                    <vEditOrder
                        @updateOrder="updateOrder"
                        ref="vEditOrder"
                    />
                </div>
            </div>
            <Pagination :changePage="getOrdersPagination" :data="ordersPagination"/>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import vCreateOrder from '../modals/order/v-create-order';
import vEditOrder from '../modals/order/v-edit-order';

export default {
    name: "v-main-page",
    data() {
        return {
            //Order
            order: {
                status: null,
                first_name: null,
                last_name: null,
                phone: null,
                mail_address: null,
                products: [],
                prepayment: null,
                discount: null,
                cash_on_delivery: null,
                comment_id: null,
                profit: null,
            },
            //Status Fields
            prepaymentInput: 'disabled',
            discountInput: 'disabled',
            cashOnDeliveryInput: 'disabled',
            default_quantity_order_product: 1
        }
    },
    components: {
        vCreateOrder,
        vEditOrder
    },
    computed: {
        ...mapGetters([
            'AUTH_USER',
            'PRODUCTS',
            'COMMENTS',
            'ORDERS',
            'ORDERS_PAGINATION'
        ]),
        roles() {
            return this.AUTH_USER.roles
        },
        products() {
            const rootApp = this
            return this.PRODUCTS.map(function (product) {
                return {
                    id: product.id,
                    name: product.name,
                    price: product.price,
                    purchase_price: product.purchase_price,
                    quantity: product.quantity,
                    quantity_order_product: rootApp.default_quantity_order_product
                }
            });
        },
        orders() {
            const rootApp = this
            const typeRowTable = {
                New: 'table-default',
                Processing: 'table-warning',
                Completed: 'table-success',
                Rejected: 'table-danger',
            }

            return this.ORDERS.map(function (order) {
                return {
                    id: order.id,
                    customer: order.customer,
                    products: order.products,
                    prepayment: order.prepayment,
                    discount: order.discount,
                    cash_on_delivery: order.cash_on_delivery,
                    status: order.status,
                    comment: order.comment,
                    profit: order.profit,
                    type_row_table: typeRowTable[order.status]
                }
            });
        },
        ordersPagination() {
            return this.ORDERS_PAGINATION
        },
        cash_on_delivery() {
            const totalCostProducts = this.totalCostProducts();
            if (totalCostProducts) {
                this.order.cash_on_delivery = Number(totalCostProducts - this.order.discount - this.order.prepayment);
            } else {
                this.order.cash_on_delivery = totalCostProducts
            }
        },
        profit() {
            const primaryProfit = this.order.products.reduce(function (sum, product) {
                return Number(sum + (product.price - product.purchase_price) * product.quantity_order_product);
            }, 0);
            const profit = Number(primaryProfit - this.order.discount);
            this.order.profit = profit;
            return profit;
        },
        maxPrepaymentInput() {
            return Number(this.totalCostProducts() - this.order.discount)
        },
        maxDiscountInput() {
            return Number(this.totalCostProducts() - this.order.prepayment)
        },
        maxCashOnDeliveryInput() {
            return Number(this.totalCostProducts() - this.order.prepayment - this.order.discount)
        },
    },
    methods: {
        ...mapActions([
            'GET_ORDERS_FROM_API',
            'GET_PRODUCTS_FROM_API',
            'GET_COMMENTS_FROM_API',
            'STORE_ORDER_TO_API',
            'UPDATE_ORDER_TO_API',
            'GET_ORDER_BY_ID_FROM_API',
            'DELETE_ORDER_TO_API'
        ]),
        changeProductsInCartSelect() {
            this.order.cash_on_delivery = this.totalCostProducts()
        },
        changePrepaymentInput() {
            if (this.order.prepayment > this.maxPrepaymentInput) {
                this.order.prepayment = this.maxPrepaymentInput
            }
            const totalCostProducts = this.totalCostProducts();
            if (totalCostProducts) {
                this.order.cash_on_delivery = Number(totalCostProducts - this.order.discount - this.order.prepayment);
            } else {
                this.order.cash_on_delivery = totalCostProducts
            }
        },
        changeDiscountInput() {
            if (this.order.discount > this.maxDiscountInput) {
                this.order.discount = this.maxDiscountInput
            }
            const totalCostProducts = this.totalCostProducts();
            if (totalCostProducts) {
                this.order.cash_on_delivery = Number(totalCostProducts - this.order.discount - this.order.prepayment);
            } else {
                this.order.cash_on_delivery = totalCostProducts
            }
        },
        changeCashOnDeliveryInput() {
            if (this.order.cash_on_delivery > this.maxCashOnDeliveryInput) {
                this.order.cash_on_delivery = this.maxCashOnDeliveryInput
            }
            const totalCostProducts = this.totalCostProducts();
            this.order.discount = Number(totalCostProducts - this.order.cash_on_delivery - this.order.prepayment);
        },
        totalCostProducts() {
            return this.order.products.reduce(function (sum, product) {
                return Number(sum + product.price * product.quantity_order_product);
            }, 0);
        },
        storeOrder(order) {
            this.STORE_ORDER_TO_API(order)
                .then(response => {
                    this.GET_ORDERS_FROM_API()
                    this.$refs.vCreateOrder.modalReset();
                    this.$refs.vCreateOrder.$v.$reset();
                    this.$refs.vCreateOrder.modalClose();
                })
                .catch(error => {
                    console.error(error)
                })
        },
        updateOrder(order) {
            this.UPDATE_ORDER_TO_API(order)
                .then(response => {
                    console.log(response.data.order)
                    this.GET_ORDERS_FROM_API()
                    this.$refs.vCreateOrder.$v.$reset();
                    this.$refs.vEditOrder.modalClose();
                })
                .catch(error => {
                    console.error(error.response.data)
                })
        },
        deleteOrder(id) {
            this.DELETE_ORDER_TO_API(id)
                .then(response => {
                    console.log(response.data)
                    this.GET_ORDERS_FROM_API()
                })
                .catch(error => {
                    console.error(error.response.data)
                })
        },
        modalShowCreateOrder() {
            this.$refs.vCreateOrder.modalShow();
        },
        modalShowEditOrder(id) {
            this.GET_ORDER_BY_ID_FROM_API(id)
                .then(response => {
                    this.$refs.vEditOrder.modalShow();
                })
                .catch(error => {
                    console.error(error)
                })
        },
        getOrdersPagination(data) {
            this.GET_ORDERS_FROM_API(data.page)
        }
    },
    mounted() {
        this.GET_ORDERS_FROM_API()
        this.GET_PRODUCTS_FROM_API()
        this.GET_COMMENTS_FROM_API()
    },
    watch: {
        "order.products"() {
            if (this.order.products.length) {
                this.prepaymentInput = 'enabled';
                this.discountInput = 'enabled';
                this.cashOnDeliveryInput = 'enabled';
            } else {
                this.prepaymentInput = 'disabled';
                this.discountInput = 'disabled';
                this.cashOnDeliveryInput = 'disabled';
            }
        },
    }
};
</script>

<style>
.v-main-page {
    height: 100%;
}
.month{
    cursor: pointer;
}
</style>
