<template>
    <div class="v-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mt-3">Products</h1>
                    <button
                        type="button"
                        class="btn btn-success mt-2"
                        @click="modalShowCreateProduct()"
                    >
                        Add
                    </button>
                    <div class="table-responsive mb-3">
                        <table class="table table-responsive table-hover table-condensed">
                            <thead>
                            <tr>
                                <th scope="col">Actions</th>
                                <th scope="col">Name product</th>
                                <th scope="col">Purchase price (UAH)</th>
                                <th scope="col">Price (UAH)</th>
                                <th scope="col">Quantity (pcs)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="product in this.PRODUCTS">
                                <td>
                                    <button
                                        type="button"
                                        class="btn btn-outline-primary btn-sm mt-1"
                                        @click="modalShowEditProduct(product.id)"
                                    >
                                        Edit
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-outline-danger btn-sm mt-1"
                                        @click="deleteProduct(product.id)"
                                    >
                                        Delete
                                    </button>
                                </td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.purchase_price }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.quantity }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Modals -->
                    <vCreateProduct
                        @storeProduct="storeProduct"
                        ref="vCreateProduct"
                    />
                    <vEditProduct
                        @updateProduct="updateProduct"
                        ref="vEditProduct"
                    />
                </div>
            </div>
            <Pagination :changePage="getProductsPagination" :data="this.PRODUCTS_PAGINATION"/>
        </div>
    </div>
</template>

<script>
import vCreateProduct from "../modals/product/v-create-product";
import vEditProduct from "../modals/product/v-edit-product";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "v-products",
    data() {
        return {
            //Product
            product: {
                name: null,
                purchase_price: null,
                price: null,
                quantity: null,
            },
        }
    },
    computed: {
        ...mapGetters([
            'PRODUCTS',
            'PRODUCTS_PAGINATION'
        ]),
    },
    components: {
        vCreateProduct,
        vEditProduct
    },
    methods: {
        ...mapActions([
            'GET_PRODUCTS_FROM_API',
            'GET_PRODUCT_BY_ID_FROM_API',
            'STORE_PRODUCT_TO_API',
            'UPDATE_PRODUCT_TO_API',
            'DELETE_PRODUCT_TO_API'
        ]),
        modalShowCreateProduct() {
            this.$refs.vCreateProduct.modalShow();
        },
        modalShowEditProduct(id) {
            this.GET_PRODUCT_BY_ID_FROM_API(id)
                .then(response => {
                    this.$refs.vEditProduct.modalShow();
                })
                .catch(error => {
                    console.error(error)
                })
        },
        storeProduct(product) {
            this.STORE_PRODUCT_TO_API(product)
                .then(response => {
                    console.log(response.data)
                    this.GET_PRODUCTS_FROM_API()
                    this.$refs.vCreateProduct.modalReset();
                    this.$refs.vCreateProduct.$v.$reset();
                    this.$refs.vCreateProduct.modalClose();
                })
                .catch(error => {
                    console.error(error.response.data)
                })
        },
        updateProduct(product) {
            this.UPDATE_PRODUCT_TO_API(product)
                .then(response => {
                    this.GET_PRODUCTS_FROM_API()
                    this.$refs.vEditProduct.$v.$reset();
                    this.$refs.vEditProduct.modalClose();
                })
                .catch(error => {
                    console.error(error.response.data)
                })
        },
        deleteProduct(id) {
            this.DELETE_PRODUCT_TO_API(id)
                .then(response => {
                    console.log(response.data)
                    this.GET_PRODUCTS_FROM_API()
                })
                .catch(error => {
                    console.error(error.response.data)
                })
        },
        getProductsPagination(data) {
            this.GET_PRODUCTS_FROM_API(data.page)
        }
    },
    mounted() {
        this.GET_PRODUCTS_FROM_API()
    },
}
</script>

<style scoped>

</style>
