<template>
    <div class="v-register">
        <div class="container-fluid d-flex h-100 justify-content-center align-items-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="card text-center">
                        <h2 class="card-header">Регистрация</h2>
                        <div class="card-body">
                            <div v-if="status.success" class="alert alert-success mt-3" role="alert">
                                <ul>
                                    <li v-for="message in notify.messages">{{message}}</li>
                                </ul>
                            </div>
                            <div v-if="status.error" class="alert alert-danger mt-3" role="alert">
                                <ul>
                                    <li v-for="message in notify.messages">{{message}}</li>
                                </ul>
                            </div>
                            <form @submit.prevent="register()">
                                <div class="form-group">
                                    <label for="inputName">Имя</label>
                                    <input
                                        v-model="user.name.name"
                                        type="text"
                                        class="form-control"
                                        :class="{ 'is-invalid': $v.user.name.name.$error }"
                                        id="inputName"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.user.name.name.required">
                                        Обязательно к заполнению
                                    </div>
                                    <div class="invalid-feedback" v-if="!$v.user.name.name.maxLength">
                                        Максимальная длина {{$v.user.name.name.$params.maxLength.max}} символов.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail">Email</label>
                                    <input
                                        v-model="user.email.email"
                                        type="text"
                                        class="form-control"
                                        :class="{ 'is-invalid': $v.user.email.email.$error }"
                                        id="inputEmail"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.user.email.email.required">
                                        Обязательно к заполнению
                                    </div>
                                    <div class="invalid-feedback" v-if="!$v.user.email.email">
                                        Не валидный email
                                    </div>
                                    <div class="invalid-feedback" v-if="!$v.user.email.email.maxLength">
                                        Максимальная длина {{$v.user.email.email.$params.maxLength.max}} символов.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="roleSelect">Роль</label>
                                    <select
                                        v-model="user.role.role"
                                        class="form-control"
                                        :class="{ 'is-invalid': $v.user.role.role.$error }"
                                        id="roleSelect"
                                        @change="enableDisableCheckProperty()"
                                    >
                                        <option value="seller">Продавец</option>
                                    </select>
                                    <div class="invalid-feedback" v-if="!$v.user.role.role.required">
                                        Обязательно к заполнению
                                    </div>
                                </div>
                                <div v-if="user.role.role === 'manager'" class="form-group">
                                    <label for="companyInput">Компания</label>
                                    <input
                                        v-model="user.company_name.company_name"
                                        type="text"
                                        class="form-control"
                                        :class="{ 'is-invalid': $v.user.company_name.company_name.$error }"
                                        id="companyInput"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.user.company_name.company_name.required">
                                        Обязательно к заполнению
                                    </div>
                                </div>
                                <div v-if="user.role.role === 'seller'" class="form-group">
                                    <v-select
                                        v-model="company_search_or_selected"
                                        label="Компания"
                                        type="text"
                                        idField="companySelect"
                                        classField="form-control"
                                        :options="companiesOptions"
                                        @select="companySelect"
                                        :classError="{ 'is-invalid': $v.user.company_id.company_id.$error }"
                                        @blur="searchCompany()"
                                        ref="vSelect"
                                    >
                                    </v-select>
                                    <div class="invalid-feedback" v-if="!$v.user.company_id.company_id.required">
                                        Обязательно к заполнению
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword">Пароль</label>
                                    <input
                                        v-model="user.password.password"
                                        type="password"
                                        class="form-control"
                                        :class="{ 'is-invalid': $v.user.password.password.$error }"
                                        id="inputPassword"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.user.password.password.required">
                                        Обязательно к заполнению
                                    </div>
                                    <div class="invalid-feedback" v-if="!$v.user.password.password.minLength">
                                        Минимальная длина {{$v.user.password.password.$params.minLength.min}} символов.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordConfirm">Подтвердить пароль</label>
                                    <input
                                        v-model="user.password_confirmation.password_confirmation"
                                        type="password"
                                        class="form-control"
                                        :class="{ 'is-invalid': $v.user.password_confirmation.password_confirmation.$error }"
                                        id="inputPasswordConfirm"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.user.password_confirmation.password_confirmation.required">
                                        Обязательно к заполнению
                                    </div>
                                    <div class="invalid-feedback" v-if="!$v.user.password_confirmation.password_confirmation.minLength">
                                        Минимальная длина {{$v.user.password_confirmation.password_confirmation.$params.minLength.min}} символов.
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Отправить</button>
                                {{user.company_id.company_id}}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vSelect from '../../../components/v-select'
    import {mapActions} from "vuex";
    import {
        required,
        minLength,
        maxLength,
        email, alpha
    } from 'vuelidate/lib/validators';

    export default {
        name: "v-register",
        data(){
            return{
                user:{
                    name: {
                        validate:  'on',
                        name: null
                    },
                    email: {
                        validate:  'on',
                        email: null
                    },
                    role: {
                        validate:  'on',
                        role: 'seller'
                    },
                    company_name: {
                        validate:  'of',
                        company_name: null
                    },
                    company_id: {
                        validate: 'on',
                        company_id: null
                    },
                    password: {
                        validate:  'on',
                        password: null
                    },
                    password_confirmation: {
                        validate:  'on',
                        password_confirmation: null
                    },
                },
                status:{
                    success: false,
                    error: false,
                },
                notify:{
                    messages: [],
                },
                companiesOptions: [],
                companiesOptionsNotFound: [
                    {text: 'Не найдено', value: null}
                ],
                company_search_or_selected: null,
            }
        },
        components: {
            vSelect
        },
        methods:{
            ...mapActions([
                'REGISTER',
            ]),
            item(e){
                this.item = e.target.value
            },
            register(){
                let user = this.user;

                for (let elem in user){
                    if (user[elem].validate === 'on'){
                        this.$v.user[elem][elem].$touch();
                        if (this.$v.user[elem][elem].$anyError) {
                            return;
                        }
                    }
                }
                this.REGISTER(user)
                    .then((response => {
                        //console.log(response)
                        this.status.error = false;
                        this.status.success = true;
                        this.notify.messages = response.data.message;
                        this.$v.$reset();
                        this.$router.push({name: 'mainPage'});
                    }
                )).catch(error => {
                    console.error(error.response)
                    this.status.success = false;
                    this.status.error = true;
                    this.notify.messages = error.response.data.errors;
                })
            },
            enableDisableCheckProperty(){
                if (this.user.role.role === 'manager'){
                    this.user.company_name.validate = 'on';
                    this.user.company_id.validate = 'off';
                }else if (this.user.role.role === 'seller'){
                    this.user.company_name.validate = 'off';
                    this.user.company_id.validate = 'on';
                }
            },
            searchCompany(){
                if (this.company_search_or_selected != null){
                    axios.get(window.location.origin +'/api/v1/auth/companies/search/' + this.company_search_or_selected)
                        .then(resp => {
                            let companies = resp.data.companies
                            let CompanyOptions = [];

                            if (companies.length) {
                                for (let item in companies) {
                                    let tempCompanyOption = {};
                                    tempCompanyOption.text = companies[item].name
                                    tempCompanyOption.value = companies[item].id
                                    CompanyOptions.push(tempCompanyOption)
                                }
                                this.companiesOptions = CompanyOptions
                            }else {
                                this.companiesOptions = this.companiesOptionsNotFound
                            }
                            this.$refs.vSelect.showSelect();
                        }).catch(error => {
                        console.error(error.response)
                    });
                }
            },
            companySelect(option){
                this.user.company_id.company_id = option.value
                this.company_search_or_selected = option.text;
            }
        },
        validations:{
            user:{
                name: {
                    name:{
                        required,
                        maxLength: maxLength(255)
                    }
                },
                email: {
                    email:{
                        required,
                        email,
                        maxLength: maxLength(255)
                    }
                },
                role:{
                    role:{
                        required,
                        alpha
                    }
                },
                company_name:{
                    company_name:{
                        required
                    }
                },
                company_id:{
                    company_id:{
                        required
                    }
                },
                password: {
                    password:{
                        required,
                        minLength: minLength(8)
                    }
                },
                password_confirmation: {
                    password_confirmation:{
                        required,
                        minLength: minLength(8)
                    }
                },
            }
        }
    }
</script>

<style>
    .v-register{
        height: 100%;
    }
    .card{
        opacity: 0.85;
    }
    .card-header{
        background-color: #75B04E;
        color: #fff3cd;
    }
    .card-body .btn{
        background-color: #75B04E;
        color: #fff3cd;
    }
</style>
