<template>
    <div class="v-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light ">
                        <router-link :to="{ name: 'mainPage' }">
                            <span class="navbar-brand">CRM-SALEX</span>
                        </router-link>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                            <ul class="navbar-nav nav-pills">
                                <li v-if="this.AUTH_STATUS === 'unauthorized'" class="nav-item">
                                    <router-link :to="{ name: 'login' }" class="nav-link">
                                        Login
                                    </router-link>
                                </li>
                                <li v-if="this.AUTH_STATUS === 'unauthorized'" class="nav-item">
                                    <router-link :to="{ name: 'register' }" class="nav-link">
                                        Register
                                    </router-link>
                                </li>
                                <li v-if="this.AUTH_STATUS === 'authorized'" class="nav-item">
                                    <a
                                        @click="logout()"
                                        class="nav-link"
                                        href="javascript:void(0);"
                                    >
                                        <span>{{this.AUTH_USER.name}}</span>

                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {
        mapActions,
        mapGetters
    } from "vuex";
    export default {
        name: "v-header",
        computed:{
            ...mapGetters([
                'AUTH_STATUS',
                'AUTH_USER',
            ]),
        },
        methods: {
            ...mapActions([
                'LOGOUT',
                'GET_AUTH_USER_FROM_API'
            ]),
            logout(){
                this.LOGOUT();
                this.$router.go()
            },
        },
        mounted() {
            this.GET_AUTH_USER_FROM_API();
        }

    }
</script>

<style>
    .v-header{
        background-color: #75B04E;
    }
    .v-header .navbar-brand{
        color: #fff3cd;
    }
    .v-header .navbar-brand:hover{
        color: #fff3cd;
    }
    .v-header .nav-item{
        color: #fff3cd;
    }
    .v-header .nav-item .nav-link:hover{
        color: #fff3cd;
    }
    .v-header .nav-item .nav-link{
        color: #fff3cd;
    }
    .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
        color: #fff;
    }
</style>
