<template>
    <div class="v-create-advertising">
        <!-- Modal -->
        <div class="modal fade" id="modalCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add advertising</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="storeAdvertising()">
                            <div class="mb-3">
                                <label for="yearInput" class="form-label mt-1">Year</label>
                                <input
                                    v-model="advertising.year"
                                    type="number"
                                    class="form-control"
                                    id="yearInput"
                                    :class="{ 'is-invalid': $v.advertising.year.$error }"
                                    min="2022"
                                    max="2070"
                                    placeholder="0.00"
                                >
                                <div class="invalid-feedback" v-if="!$v.advertising.year.required">
                                    Required
                                </div>
                                <div class="invalid-feedback" v-if="!$v.advertising.year.integer">
                                    Only whole numbers are allowed
                                </div>
                                <label for="januaryInput" class="form-label mt-1">January</label>
                                <input
                                    v-model="advertising.months.january"
                                    type="number"
                                    class="form-control"
                                    id="januaryInput"
                                    :class="{ 'is-invalid': $v.advertising.months.january.$error }"
                                    placeholder="0.00"
                                >
                                <div class="invalid-feedback" v-if="!$v.advertising.months.january.integer">
                                    Only whole numbers are allowed
                                </div>
                                <label for="februaryInput" class="form-label mt-1">February</label>
                                <input
                                    v-model="advertising.months.february"
                                    type="number"
                                    class="form-control"
                                    id="februaryInput"
                                    :class="{ 'is-invalid': $v.advertising.months.february.$error }"
                                    placeholder="0.00"
                                >
                                <div class="invalid-feedback" v-if="!$v.advertising.months.february.integer">
                                    Only whole numbers are allowed
                                </div>
                                <label for="marchInput" class="form-label mt-1">March</label>
                                <input
                                    v-model="advertising.months.march"
                                    type="number"
                                    class="form-control"
                                    id="marchInput"
                                    :class="{ 'is-invalid': $v.advertising.months.march.$error }"
                                    placeholder="0.00"
                                >
                                <div class="invalid-feedback" v-if="!$v.advertising.months.march.integer">
                                    Only whole numbers are allowed
                                </div>
                                <label for="aprilInput" class="form-label mt-1">April</label>
                                <input
                                    v-model="advertising.months.april"
                                    type="number"
                                    class="form-control"
                                    id="aprilInput"
                                    :class="{ 'is-invalid': $v.advertising.months.april.$error }"
                                    placeholder="0.00"
                                >
                                <div class="invalid-feedback" v-if="!$v.advertising.months.april.integer">
                                    Only whole numbers are allowed
                                </div>
                                <label for="mayInput" class="form-label mt-1">May</label>
                                <input
                                    v-model="advertising.months.may"
                                    type="number"
                                    class="form-control"
                                    id="mayInput"
                                    :class="{ 'is-invalid': $v.advertising.months.may.$error }"
                                    placeholder="0.00"
                                >
                                <div class="invalid-feedback" v-if="!$v.advertising.months.may.integer">
                                    Only whole numbers are allowed
                                </div>
                                <label for="juneInput" class="form-label mt-1">June</label>
                                <input
                                    v-model="advertising.months.june"
                                    type="number"
                                    class="form-control"
                                    id="juneInput"
                                    :class="{ 'is-invalid': $v.advertising.months.june.$error }"
                                    placeholder="0.00"
                                >
                                <div class="invalid-feedback" v-if="!$v.advertising.months.june.integer">
                                    Only whole numbers are allowed
                                </div>
                                <label for="julyInput" class="form-label mt-1">July</label>
                                <input
                                    v-model="advertising.months.july"
                                    type="number"
                                    class="form-control"
                                    id="julyInput"
                                    :class="{ 'is-invalid': $v.advertising.months.july.$error }"
                                    placeholder="0.00"
                                >
                                <div class="invalid-feedback" v-if="!$v.advertising.months.july.integer">
                                    Only whole numbers are allowed
                                </div>
                                <label for="augustInput" class="form-label mt-1">August</label>
                                <input
                                    v-model="advertising.months.august"
                                    type="number"
                                    class="form-control"
                                    id="augustInput"
                                    :class="{ 'is-invalid': $v.advertising.months.august.$error }"
                                    placeholder="0.00"
                                >
                                <div class="invalid-feedback" v-if="!$v.advertising.months.august.integer">
                                    Only whole numbers are allowed
                                </div>
                                <label for="septemberInput" class="form-label mt-1">September</label>
                                <input
                                    v-model="advertising.months.september"
                                    type="number"
                                    class="form-control"
                                    id="septemberInput"
                                    :class="{ 'is-invalid': $v.advertising.months.september.$error }"
                                    placeholder="0.00"
                                >
                                <div class="invalid-feedback" v-if="!$v.advertising.months.september.integer">
                                    Only whole numbers are allowed
                                </div>
                                <label for="octoberInput" class="form-label mt-1">October</label>
                                <input
                                    v-model="advertising.months.october"
                                    type="number"
                                    class="form-control"
                                    id="octoberInput"
                                    :class="{ 'is-invalid': $v.advertising.months.october.$error }"
                                    placeholder="0.00"
                                >
                                <div class="invalid-feedback" v-if="!$v.advertising.months.october.integer">
                                    Only whole numbers are allowed
                                </div>
                                <label for="novemberInput" class="form-label mt-1">November</label>
                                <input
                                    v-model="advertising.months.november"
                                    type="number"
                                    class="form-control"
                                    id="novemberInput"
                                    :class="{ 'is-invalid': $v.advertising.months.november.$error }"
                                    placeholder="0.00"
                                >
                                <div class="invalid-feedback" v-if="!$v.advertising.months.november.integer">
                                    Only whole numbers are allowed
                                </div>
                                <label for="decemberInput" class="form-label mt-1">December</label>
                                <input
                                    v-model="advertising.months.december"
                                    type="number"
                                    class="form-control"
                                    id="decemberInput"
                                    :class="{ 'is-invalid': $v.advertising.months.december.$error }"
                                    placeholder="0.00"
                                >
                                <div class="invalid-feedback" v-if="!$v.advertising.months.december.integer">
                                    Only whole numbers are allowed
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {integer, maxLength, required} from "vuelidate/lib/validators";

export default {
    name: "v-create-advertising",
    data() {
        return {
            //advertising
            advertising: {
                year: null,
                months: {
                    january: null,
                    february: null,
                    march: null,
                    april: null,
                    may: null,
                    june: null,
                    july: null,
                    august: null,
                    september: null,
                    october: null,
                    november: null,
                    december: null,
                }
            },
        }
    },
    methods:{
        storeAdvertising(){
            let advertising = this.advertising;
            for (let elem in advertising) {
                this.$v.advertising[elem].$touch();
                if (this.$v.advertising[elem].$anyError) {
                    return;
                }
            }
            this.$emit('storeAdvertising', advertising)
        },
        modalClose(){
            $('#modalCreate').modal('toggle');
            return false;
        },
        modalReset(){
            for (const element in this.advertising) {
                if (typeof this.advertising[element] === 'object'){
                    for (const elementKey in element) {
                        this.advertising[element][elementKey] = null
                    }
                }else {
                    this.advertising[element] = null
                }
            }
        },
        modalShow(){
            $('#modalCreate').modal('show');
        }
    },
    validations: {
        advertising: {
            year: {
                required,
                integer
            },
            months: {
                january: {
                    integer
                },
                february: {
                    integer
                },
                march: {
                    integer
                },
                april: {
                    integer
                },
                may: {
                    integer
                },
                june: {
                    integer
                },
                july: {
                    integer
                },
                august: {
                    integer
                },
                september: {
                    integer
                },
                october: {
                    integer
                },
                november: {
                    integer
                },
                december: {
                    integer
                },
            }
        }
    }
}
</script>

<style scoped>

</style>
