<template>
    <div class="v-select">
        <label>{{ label }}
            <input
                :type="type"
                :id="idField"
                :class="[classField, classError]"
                :value="value"
                @input="input"
                @click="toggleOptions()"
                @blur="blur"
            >
        </label>
        <div
            class="options"
            :class="classField"
            v-if="areOptionsVisible"
        >
            <p
                v-for="option in options"
                :key="option.value"
                @click.stop="selectOption(option)"
            >
                {{option.text}}
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "v-select",
        props:{
            type:{
                type: [String, Number],
                default(){
                    return ''
                }
            },
            label:{
                type: [String, Number],
                default(){
                    return ''
                }
            },
            idField:{
                type: [String, Number],
                default(){
                    return ''
                }
            },
            classField:{
                type: [String, Number],
                default(){
                    return ''
                }
            },
            classError:{
                type: Object,
                default(){
                    return {}
                }
            },
            value:{
                type: [String, Number],
                default(){
                    return ''
                }
            },
            options:{
                type: Array,
                default(){
                    return []
                }
            },
            selected:{
                type: String,
                default(){
                    return ''
                }
            },

        },
        data(){
            return {
                areOptionsVisible: false
            }
        },
        methods:{
            toggleOptions(){
                this.areOptionsVisible = !this.areOptionsVisible
            },
            selectOption(option){
                this.$emit('select', option)
                this.hideSelect()
            },
            hideSelect(){
                this.areOptionsVisible = false
            },
            showSelect(){
                this.areOptionsVisible = true
            },
            input(e){
                let value = e.target.value;
                this.$emit('input', value)
            },
            blur(e){
                let value = e.target.value;
                this.$emit('blur', value)
            }

        }
    }
</script>

<style scoped>
    .v-select{
        position: relative;
    }
    .v-select p{
        margin: 0;
    }
    .v-select .title{
        border:solid 1px #0c63e4;
        width: 100%;
    }
    .options{
        background-color: #c4c4c4;
        border:solid 1px #0c63e4;
        position: absolute;
        top: 55px;
        right: 0;
        width: 100%;
    }
    .options p:hover{
        background: #0c63e4;
        color: #fff3cd;
        cursor: pointer;
    }
</style>
