<template>
    <div class="v-create-customer">
        <!-- Modal -->
        <div class="modal fade" id="modalCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add customer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="storeCustomer()">
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="firstNameInput" class="form-label">First name</label>
                                    <input
                                        v-model="customer.first_name"
                                        type="text"
                                        class="form-control"
                                        id="firstNameInput"
                                        :class="{ 'is-invalid': $v.customer.first_name.$error }"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.customer.first_name.required">
                                        Required
                                    </div>
                                    <div class="invalid-feedback" v-if="!$v.customer.first_name.maxLength">
                                        Max length {{$v.customer.first_name.$params.maxLength.max}} characters.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="lastNameInput" class="form-label">Last name</label>
                                    <input
                                        v-model="customer.last_name"
                                        type="text"
                                        class="form-control"
                                        id="lastNameInput"
                                        :class="{ 'is-invalid': $v.customer.last_name.$error }"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.customer.last_name.required">
                                        Required
                                    </div>
                                    <div class="invalid-feedback" v-if="!$v.customer.last_name.maxLength">
                                        Max length {{$v.customer.last_name.$params.maxLength.max}} characters.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="phoneInput" class="form-label">Phone</label>
                                    <input
                                        v-model="customer.phone"
                                        type="text"
                                        class="form-control"
                                        id="phoneInput"
                                        :class="{ 'is-invalid': $v.customer.phone.$error }"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.customer.phone.required">
                                        Required
                                    </div>
                                    <div class="invalid-feedback" v-if="!$v.customer.phone.maxLength">
                                        Max length {{$v.customer.phone.$params.maxLength.max}} characters.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="maiAddressInput" class="form-label">Mail address</label>
                                    <input
                                        v-model="customer.mail_address"
                                        type="text"
                                        class="form-control"
                                        id="maiAddressInput"
                                        :class="{ 'is-invalid': $v.customer.mail_address.$error }"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.customer.mail_address.required">
                                        Required
                                    </div>
                                    <div class="invalid-feedback" v-if="!$v.customer.mail_address.maxLength">
                                        Max length {{$v.customer.mail_address.$params.maxLength.max}} characters.
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {integer, maxLength, required} from "vuelidate/lib/validators";

export default {
    name: "v-create-customer",
    data() {
        return {
            //Customer
            customer: {
                first_name: null,
                last_name: null,
                phone: null,
                mail_address: null,
            },
        }
    },
    methods:{
        storeCustomer(){
            let customer = this.customer;
            for (let elem in customer) {
                this.$v.customer[elem].$touch();
                if (this.$v.customer[elem].$anyError) {
                    return;
                }
            }
            this.$emit('storeCustomer', customer)
        },
        modalClose(){
            $('#modalCreate').modal('toggle');
            return false;
        },
        modalReset(){
            for (const element in this.customer) {
                this.customer[element] = null
            }
        },
        modalShow(){
            $('#modalCreate').modal('show');
        }
    },
    validations: {
        customer: {
            first_name: {
                required,
                maxLength: maxLength(50)
            },
            last_name: {
                required,
                maxLength: maxLength(50)
            },
            phone: {
                required,
                maxLength: maxLength(11)
            },
            mail_address: {
                required,
                maxLength: maxLength(255)
            },
        }
    }
}
</script>

<style scoped>

</style>
