<template>
    <div class="v-customers">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mt-3">Customers</h1>
                    <button
                        type="button"
                        class="btn btn-success mt-2"
                        @click="modalShowCreateCustomer()"
                    >
                        Add
                    </button>
                    <div class="table-responsive mb-3">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Actions</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Postal address</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="customer in this.CUSTOMERS">
                                <td>
                                    <button
                                        type="button"
                                        class="btn btn-outline-primary btn-sm mt-1"
                                        @click="modalShowEditCustomer(customer.id)"
                                    >
                                        Edit
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-outline-danger btn-sm mt-1"
                                        @click="deleteCustomer(customer.id)"
                                    >
                                        Delete
                                    </button>
                                </td>
                                <td>{{ customer.first_name }}</td>
                                <td>{{ customer.last_name }}</td>
                                <td>{{ customer.phone }}</td>
                                <td>{{ customer.mail_address }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Modals -->
                    <vCreateCustomer
                        @storeCustomer="storeCustomer"
                        ref="vCreateCustomer"
                    />
                    <vEditCustomer
                        @updateCustomer="updateCustomer"
                        ref="vEditCustomer"
                    />
                </div>
            </div>
            <Pagination :changePage="getCustomersPagination" :data="this.CUSTOMERS_PAGINATION"/>
        </div>
    </div>
</template>

<script>
import vCreateCustomer from "../modals/customer/v-create-customer";
import vEditCustomer from "../modals/customer/v-edit-customer";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "v-customers",
    data() {
        return {
            //Customer
            customer: {
                first_name: null,
                last_name: null,
                phone: null,
                mail_address: null,
            },
        }
    },
    computed: {
        ...mapGetters([
            'CUSTOMERS',
            'CUSTOMERS_PAGINATION'
        ]),
    },
    components: {
        vCreateCustomer,
        vEditCustomer
    },
    methods: {
        ...mapActions([
            'GET_CUSTOMERS_FROM_API',
            'GET_CUSTOMER_BY_ID_FROM_API',
            'STORE_CUSTOMER_TO_API',
            'UPDATE_CUSTOMER_TO_API',
            'DELETE_CUSTOMER_TO_API'
        ]),
        modalShowCreateCustomer() {
            this.$refs.vCreateCustomer.modalShow();
        },
        modalShowEditCustomer(id) {
            this.GET_CUSTOMER_BY_ID_FROM_API(id)
                .then(response => {
                    this.$refs.vEditCustomer.modalShow();
                })
                .catch(error => {
                    console.error(error)
                })
        },
        storeCustomer(customer) {
            this.STORE_CUSTOMER_TO_API(customer)
                .then(response => {
                    //console.log(response.data)
                    this.GET_CUSTOMERS_FROM_API()
                    this.$refs.vCreateCustomer.modalReset();
                    this.$refs.vCreateCustomer.$v.$reset();
                    this.$refs.vCreateCustomer.modalClose();
                })
                .catch(error => {
                    console.error(error.response.data)
                })
        },
        updateCustomer(product) {
            this.UPDATE_CUSTOMER_TO_API(product)
                .then(response => {
                    this.GET_CUSTOMERS_FROM_API()
                    this.$refs.vEditCustomer.$v.$reset();
                    this.$refs.vEditCustomer.modalClose();
                })
                .catch(error => {
                    console.error(error.response.data)
                })
        },
        deleteCustomer(id) {
            this.DELETE_CUSTOMER_TO_API(id)
                .then(response => {
                    //console.log(response.data)
                    this.GET_CUSTOMERS_FROM_API()
                })
                .catch(error => {
                    console.error(error.response.data)
                })
        },
        getCustomersPagination(data) {
            this.GET_CUSTOMERS_FROM_API(data.page)
        }
    },
    mounted() {
        this.GET_CUSTOMERS_FROM_API()
    },
}
</script>

<style scoped>

</style>
