<template lang="html">
    <div class="v-main-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mt-3">Employees</h1>
                    <button
                        type="button"
                        class="btn btn-success mt-2"
                        @click="modalShowCreateEmployee()"
                    >
                        Add
                    </button>
                    <div class="table-responsive mb-3">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Actions</th>
                                <th scope="col">id</th>
                                <th scope="col">Name</th>
                                <th scope="col">email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Roles</th>
                                <th scope="col">Salary type</th>
                                <th scope="col">Salary (%)</th>
                                <th scope="col">Salary rate (UAH)</th>
                                <th scope="col">Efficiency per year (%)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="employee in employees" :class="employee.type_row_table">
                                <td>
                                    <button
                                        type="button"
                                        class="btn btn-outline-primary btn-sm mt-1"
                                        @click="modalShowEditEmployee(employee.id)"
                                    >
                                        Edit
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-outline-danger btn-sm mt-1"
                                        @click="deleteEmployee(employee.id)"
                                    >
                                        Delete
                                    </button>
                                </td>
                                <th scope="row">{{ employee.id }}</th>
                                <td>{{ employee.name }}</td>
                                <td>{{ employee.email }}</td>
                                <td>{{ employee.phone }}</td>
                                <td>
                                    <ol>
                                        <li v-for="role in employee.roles">{{ role.name }}</li>
                                    </ol>
                                </td>
                                <td>{{ employee.salary_type }}</td>
                                <td>{{ employee.salary_percent }}</td>
                                <td>{{ employee.salary_rate }}</td>
                                <td>{{employee.proceedsYear}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Modals -->
                    <vCreateEmployee
                        @storeEmployee="storeEmployee"
                        ref="vCreateEmployee"
                    />
                    <vEditEmployee
                        @updateEmployee="updateEmployee"
                        ref="vEditEmployee"
                    />
                </div>
            </div>
            <Pagination :changePage="getEmployeesPagination" :data="employeesPagination"/>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import vCreateEmployee from '../modals/employee/v-create-employee';
import vEditEmployee from '../modals/employee/v-edit-employee';

export default {
    name: "v-main-page",

    components: {
        vCreateEmployee,
        vEditEmployee
    },
    computed: {
        ...mapGetters([
            'AUTH_USER',
            'EMPLOYEES',
            'EMPLOYEES_PAGINATION'
        ]),
        roles() {
            return this.AUTH_USER.roles
        },
        employees() {
            const rootApp = this
            const typeRowTable = {
                New: 'table-default',
                Processing: 'table-warning',
                Completed: 'table-success',
                Rejected: 'table-danger',
            }

            return this.EMPLOYEES.map(function (employee) {
                return {
                    id: employee.id,
                    name: employee.name,
                    email: employee.email,
                    phone: employee.phone,
                    roles: employee.roles,
                    salary_type: employee.salary_type,
                    salary_percent: employee.salary_percent,
                    salary_rate: employee.salary_rate,
                    proceedsYear: employee.proceedsYear,
                    type_row_table: typeRowTable[employee.status]
                }
            });
        },
        employeesPagination() {
            return this.EMPLOYEES_PAGINATION
        },
        efficiency(){
            return ''
        }
    },
    methods: {
        ...mapActions([
            'GET_EMPLOYEES_FROM_API',
            'STORE_EMPLOYEE_TO_API',
            'UPDATE_EMPLOYEE_TO_API',
            'GET_EMPLOYEE_BY_ID_FROM_API',
            'DELETE_EMPLOYEE_TO_API'
        ]),
        storeEmployee(employee) {
            this.STORE_EMPLOYEE_TO_API(employee)
                .then(response => {
                    this.GET_EMPLOYEES_FROM_API()
                    this.$refs.vCreateEmployee.modalReset();
                    this.$refs.vCreateEmployee.$v.$reset();
                    this.$refs.vCreateEmployee.modalClose();
                })
                .catch(error => {
                    this.$refs.vCreateEmployee.modalShowErrors(error.response.data);
                    console.error(error)
                })
        },
        updateEmployee(employee) {
            this.UPDATE_EMPLOYEE_TO_API(employee)
                .then(response => {
                    this.GET_EMPLOYEES_FROM_API()
                    this.$refs.vEditEmployee.modalReset();
                    this.$refs.vEditEmployee.$v.$reset();
                    this.$refs.vEditEmployee.modalClose();
                })
                .catch(error => {
                    console.error(error.response.data)
                })
        },
        deleteEmployee(id) {
            this.DELETE_EMPLOYEE_TO_API(id)
                .then(response => {
                    console.log(response.data)
                    this.GET_EMPLOYEES_FROM_API()
                })
                .catch(error => {
                    console.error(error.response.data)
                })
        },
        modalShowCreateEmployee() {
            this.$refs.vCreateEmployee.modalShow();
        },
        modalShowEditEmployee(id) {
            this.GET_EMPLOYEE_BY_ID_FROM_API(id)
                .then(response => {
                    this.$refs.vEditEmployee.modalShow();
                })
                .catch(error => {
                    console.error(error)
                })
        },
        getEmployeesPagination(data) {
            this.GET_EMPLOYEES_FROM_API(data.page)
        }
    },
    mounted() {
        this.GET_EMPLOYEES_FROM_API()
    },
    watch: {
    }
};
</script>

<style>
.v-main-page {
    height: 100%;
}

.card {
    opacity: 0.85;
}
</style>
