<template>
    <div class="v-edit-customer">
        <!-- Modal -->
        <div class="modal fade" id="modalEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Edit customer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="updateCustomer()">
                            <div class="mb-3">
                                <label for="firstNameInput" class="form-label">First name</label>
                                <input
                                    v-model="customer.first_name"
                                    type="text"
                                    class="form-control"
                                    id="firstNameInput"
                                    :class="{ 'is-invalid': $v.customer.first_name.$error }"
                                >
                                <div class="invalid-feedback" v-if="!$v.customer.first_name.required">
                                    Required
                                </div>
                                <div class="invalid-feedback" v-if="!$v.customer.first_name.maxLength">
                                    Max length {{ $v.customer.first_name.$params.maxLength.max }} characters.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="lastNameInput" class="form-label">Last name</label>
                                <input
                                    v-model="customer.last_name"
                                    type="text"
                                    class="form-control"
                                    id="lastNameInput"
                                    :class="{ 'is-invalid': $v.customer.last_name.$error }"
                                >
                                <div class="invalid-feedback" v-if="!$v.customer.last_name.required">
                                    Required
                                </div>
                                <div class="invalid-feedback" v-if="!$v.customer.last_name.maxLength">
                                    Max length {{ $v.customer.last_name.$params.maxLength.max }} characters.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="phoneInput" class="form-label">Phone</label>
                                <input
                                    v-model="customer.phone"
                                    type="text"
                                    class="form-control"
                                    id="phoneInput"
                                    :class="{ 'is-invalid': $v.customer.phone.$error }"
                                >
                                <div class="invalid-feedback" v-if="!$v.customer.phone.required">
                                    Required
                                </div>
                                <div class="invalid-feedback" v-if="!$v.customer.phone.maxLength">
                                    Max length {{ $v.customer.phone.$params.maxLength.max }} characters.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="maiAddressInput" class="form-label">Mail address</label>
                                <input
                                    v-model="customer.mail_address"
                                    type="text"
                                    class="form-control"
                                    id="maiAddressInput"
                                    :class="{ 'is-invalid': $v.customer.mail_address.$error }"
                                >
                                <div class="invalid-feedback" v-if="!$v.customer.mail_address.required">
                                    Required
                                </div>
                                <div class="invalid-feedback" v-if="!$v.customer.mail_address.maxLength">
                                    Max length {{ $v.customer.mail_address.$params.maxLength.max }} characters.
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {integer, maxLength, required} from "vuelidate/lib/validators";
import {mapGetters} from "vuex";

export default {
    name: "v-edit-customer",
    data() {
        return {
            //Customer
            customer: {
                id: null,
                first_name: null,
                last_name: null,
                phone: null,
                mail_address: null,
            },
        }
    },
    computed: {
        ...mapGetters([
            'EDIT_CUSTOMER'
        ]),
    },
    methods: {
        updateCustomer() {
            let customer = this.customer;
            for (let elem in customer) {
                this.$v.customer[elem].$touch();
                if (this.$v.customer[elem].$anyError) {
                    return;
                }
            }
            this.$emit('updateCustomer', customer)
        },
        modalClose() {
            $('#modalEdit').modal('toggle');
            return false;
        },
        modalReset() {
            for (const element in this.customer) {
                this.customer[element] = null
            }
        },
        modalShow() {
            this.customer = this.EDIT_CUSTOMER;
            $('#modalEdit').modal('show');
        }
    },
    validations: {
        customer: {
            id: {
                integer
            },
            first_name: {
                required,
                maxLength: maxLength(50)
            },
            last_name: {
                required,
                maxLength: maxLength(50)
            },
            phone: {
                required,
                maxLength: maxLength(11)
            },
            mail_address: {
                required,
                maxLength: maxLength(255)
            },
        }
    }
}
</script>

<style scoped>

</style>
