<template>
    <div class="v-create-product">
        <!-- Modal -->
        <div class="modal fade" id="modalCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="storeProduct()">
                            <div class="mb-3">
                                <label for="NameInput" class="form-label">Name product</label>
                                <input
                                    v-model="product.name"
                                    type="text"
                                    class="form-control"
                                    id="NameInput"
                                    :class="{ 'is-invalid': $v.product.name.$error }"
                                >
                                <div class="invalid-feedback" v-if="!$v.product.name.required">
                                    Required
                                </div>
                                <div class="invalid-feedback" v-if="!$v.product.name.maxLength">
                                    Maximum length {{ $v.product.name.$params.maxLength.max }} characters.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="purchasePriceInput" class="form-label">Purchase price (UAH)</label>
                                <input
                                    v-model="product.purchase_price"
                                    type="number"
                                    class="form-control"
                                    id="purchasePriceInput"
                                    :class="{ 'is-invalid': $v.product.purchase_price.$error }"
                                >
                                <div class="invalid-feedback" v-if="!$v.product.purchase_price.required">
                                    Required
                                </div>
                                <div class="invalid-feedback" v-if="!$v.product.purchase_price.numeric">
                                    Only numbers allowed
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="priceInput" class="form-label">Price (UAH)</label>
                                <input
                                    v-model="product.price"
                                    type="number"
                                    class="form-control"
                                    id="priceInput"
                                    :class="{ 'is-invalid': $v.product.price.$error }"
                                >
                                <div class="invalid-feedback" v-if="!$v.product.price.required">
                                    Required
                                </div>
                                <div class="invalid-feedback" v-if="!$v.product.price.numeric">
                                    Only numbers allowed
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="quantityInput" class="form-label">Quantity (pcs)</label>
                                <input
                                    v-model="product.quantity"
                                    type="number"
                                    class="form-control"
                                    id="quantityInput"
                                    :class="{ 'is-invalid': $v.product.quantity.$error }"
                                >
                                <div class="invalid-feedback" v-if="!$v.product.quantity.required">
                                    Required
                                </div>
                                <div class="invalid-feedback" v-if="!$v.product.quantity.integer">
                                    Only whole numbers are allowed
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {integer, maxLength, numeric, required} from "vuelidate/lib/validators";

export default {
    name: "v-create-product",
    data() {
        return {
            //Product
            product: {
                name: null,
                purchase_price: null,
                price: null,
                quantity: null,
            },
        }
    },
    methods:{
        storeProduct(){
            let product = this.product;
            for (let elem in product) {
                this.$v.product[elem].$touch();
                if (this.$v.product[elem].$anyError) {
                    return;
                }
            }
            this.$emit('storeProduct', product)
        },
        modalClose(){
            $('#modalCreate').modal('toggle');
            return false;
        },
        modalReset(){
            for (const element in this.product) {
                this.product[element] = null
            }
        },
        modalShow(){
            $('#modalCreate').modal('show');
        }
    },
    validations: {
        product: {
            name: {
                required,
                maxLength: maxLength(50)
            },
            purchase_price: {
                required,
                numeric
            },
            price: {
                required,
                numeric
            },
            quantity: {
                integer
            },
        }
    }
}
</script>

<style scoped>

</style>
