<template lang="html">
    <div class="v-main-page">
        <div class="container-fluid d-flex h-100 justify-content-center align-items-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="card text-center">
                        <div class="card-body">
                            <h1 class="card-title">CRM-SALEX</h1>
                            <h2>Customer Relationship Management</h2>
                            <h4>Record keeping of orders</h4>
                            <h4>Employee performance evaluation</h4>
                            <a v-for=" role in roles" :href="role.slug + '/' " class="btn btn-primary m-3">{{role.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "v-main-page",
        data(){
            return {

            }
        },
        computed:{
            ...mapGetters([
                'AUTH_USER',
            ]),
            roles(){
                return this.AUTH_USER.roles
            }
        },
        methods:{
        }
    };
</script>

<style>
    .v-main-page{
        height: 100%;
    }
    .card{
        opacity: 0.85;
    }
    .card .card-title{
        font-weight: bold;
    }
</style>
