<template>
    <div class="v-edit-order">
        <!-- Modal -->
        <div class="modal fade" id="modalEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Edit order</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="updateOrder()">
                            <div class="mb-3">
                                <label for="statusInput" class="form-label">Status</label>
                                <select
                                    v-model="order.status"
                                    class="form-select mb-3"
                                    aria-label=".form-select-lg example"
                                    id="statusInput"
                                    :class="{ 'is-invalid': $v.order.status.$error }"
                                >
                                    <option value="New">New</option>
                                    <option value="Processing">Processing</option>
                                    <option value="Completed">Completed</option>
                                    <option value="Rejected">Rejected</option>
                                </select>
                                <div class="invalid-feedback" v-if="!$v.order.status.required">
                                    Required
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label fw-bold mb-3">Customer data:</label>
                                <div class="mb-3">
                                    <label for="firstNameInput" class="form-label">First name</label>
                                    <input
                                        v-model="order.first_name"
                                        type="text"
                                        class="form-control"
                                        id="firstNameInput"
                                        :class="{ 'is-invalid': $v.order.first_name.$error }"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.order.first_name.required">
                                        Required
                                    </div>
                                    <div class="invalid-feedback" v-if="!$v.order.first_name.maxLength">
                                        Max length {{$v.order.first_name.$params.maxLength.max}} characters.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="lastNameInput" class="form-label">Last name</label>
                                    <input
                                        v-model="order.last_name"
                                        type="text"
                                        class="form-control"
                                        id="lastNameInput"
                                        :class="{ 'is-invalid': $v.order.last_name.$error }"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.order.last_name.required">
                                        Required
                                    </div>
                                    <div class="invalid-feedback" v-if="!$v.order.last_name.maxLength">
                                        Max length {{$v.order.last_name.$params.maxLength.max}} characters.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="phoneInput" class="form-label">Phone</label>
                                    <input
                                        v-model="order.phone"
                                        type="text"
                                        class="form-control"
                                        id="phoneInput"
                                        :class="{ 'is-invalid': $v.order.phone.$error }"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.order.phone.required">
                                        Required
                                    </div>
                                    <div class="invalid-feedback" v-if="!$v.order.phone.maxLength">
                                        Max length {{$v.order.phone.$params.maxLength.max}} characters.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="maiAddressInput" class="form-label">Mail address</label>
                                    <input
                                        v-model="order.mail_address"
                                        type="text"
                                        class="form-control"
                                        id="maiAddressInput"
                                        :class="{ 'is-invalid': $v.order.mail_address.$error }"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.order.mail_address.required">
                                        Required
                                    </div>
                                    <div class="invalid-feedback" v-if="!$v.order.mail_address.maxLength">
                                        Max length {{$v.order.mail_address.$params.maxLength.max}} characters.
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label fw-bold mb-3">Products:</label>
                                <div class="mb-3">
                                    <select
                                        @blur="changeProductsInCartSelect()"
                                        v-model="order.products"
                                        class="form-select mb-3"
                                        aria-label=".form-select-lg example"
                                        multiple="multiple"
                                        size="3"
                                        :class="{ 'is-invalid': $v.order.products.$error }"
                                    >
                                        <option v-for="product in products" :value="product">
                                            {{ product.name }}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback" v-if="!$v.order.products.required">
                                        Required
                                    </div>
                                </div>
                                <h6>Selected products:</h6>
                                <table class="table table-responsive-lg table-hover">
                                    <thead>
                                    <tr>
                                        <th>Name products</th>
                                        <th>Quantity</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(product, index) in order.products">
                                        <th>{{ product.name }}</th>
                                        <th>
                                            <input
                                                v-model="order.products[index].quantity_order_product"
                                                type="number"
                                                min="1"
                                            >
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mb-3">
                                <label class="form-label fw-bold mb-3">Financial information:</label>
                                <div class="mb-3">
                                    <label for="prepaymentInput" class="form-label">Prepayment (UAH)</label>
                                    <input
                                        @blur="changePrepaymentInput()"
                                        v-model="order.prepayment"
                                        type="number"
                                        class="form-control"
                                        id="prepaymentInput"
                                        :class="{ 'is-invalid': $v.order.prepayment.$error }"
                                        :disabled="prepaymentInput === 'disabled'"
                                        min="0"
                                        :max="maxPrepaymentInput"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.order.prepayment.numeric">
                                        Only numbers allowed
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="discountInput" class="form-label">Discount (UAH)</label>
                                    <input
                                        @blur="changeDiscountInput()"
                                        v-model="order.discount"
                                        type="number"
                                        class="form-control"
                                        id="discountInput"
                                        :class="{ 'is-invalid': $v.order.discount.$error }"
                                        :disabled="discountInput === 'disabled'"
                                        min="0"
                                        :max="maxDiscountInput"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.order.discount.numeric">
                                        Only numbers allowed
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="cashOnDeliveryInput" class="form-label">Cash on delivery (UAH)</label>
                                    <input
                                        @blur="changeCashOnDeliveryInput()"
                                        v-model="order.cash_on_delivery"
                                        type="number"
                                        class="form-control"
                                        id="cashOnDeliveryInput"
                                        :class="{ 'is-invalid': $v.order.cash_on_delivery.$error }"
                                        :disabled="cashOnDeliveryInput === 'disabled'"
                                        min="0"
                                        :data-cod="cash_on_delivery"
                                        :max="maxCashOnDeliveryInput"
                                    >
                                    <div class="invalid-feedback" v-if="!$v.order.cash_on_delivery.numeric">
                                        Only numbers allowed
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="commentInput" class="form-label">Comment</label>
                                    <select
                                        v-model="order.comment_id"
                                        class="form-select mb-3"
                                        :class="{ 'is-invalid': $v.order.comment_id.$error }"
                                        aria-label=".form-select-lg example"
                                        id="commentInput"
                                    >
                                        <option v-for="comment in this.COMMENTS" :value="comment.id">
                                            {{comment.message}}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback" v-if="!$v.order.comment_id.integer">
                                        Only whole numbers are allowed
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="profitInput" class="form-label">Profit without ads (UAH)</label>
                                    <input
                                        class="form-control"
                                        type="number"
                                        :value="profit"
                                        disabled="disabled"
                                        id="profitInput"
                                    >
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import {integer, maxLength, numeric, required} from "vuelidate/lib/validators";

export default {
    name: "v-edit-order",
    data() {
        return {
            //Order
            order: {
                id: null,
                status: null,
                first_name: null,
                last_name: null,
                phone: null,
                mail_address: null,
                products: [],
                prepayment: null,
                discount: null,
                cash_on_delivery: null,
                comment_id: null,
                profit: null,
            },
            //Status Fields
            prepaymentInput: 'disabled',
            discountInput: 'disabled',
            cashOnDeliveryInput: 'disabled',
            default_quantity_order_product:1
        }
    },
    computed: {
        ...mapGetters([
            'PRODUCTS',
            'COMMENTS',
            'EDIT_ORDER'
        ]),
        roles() {
            return this.AUTH_USER.roles
        },
        products() {
            const rootApp = this
            return this.PRODUCTS.map(function (product) {
                return {
                    id: product.id,
                    name: product.name,
                    price: product.price,
                    purchase_price: product.purchase_price,
                    quantity: product.quantity,
                    quantity_order_product: rootApp.default_quantity_order_product
                }
            });
        },
        cash_on_delivery() {
            const totalCostProducts = this.totalCostProducts();
            if (totalCostProducts) {
                this.order.cash_on_delivery = Number(totalCostProducts - this.order.discount - this.order.prepayment);
            } else {
                this.order.cash_on_delivery = totalCostProducts
            }
        },
        profit() {
            const primaryProfit = this.order.products.reduce(function (sum, product) {
                return Number(sum + (product.price - product.purchase_price) * product.quantity_order_product);
            }, 0);
            const profit = Number(primaryProfit - this.order.discount);
            this.order.profit = profit;
            return profit;
        },
        maxPrepaymentInput() {
            return Number(this.totalCostProducts() - this.order.discount)
        },
        maxDiscountInput() {
            return Number(this.totalCostProducts() - this.order.prepayment)
        },
        maxCashOnDeliveryInput() {
            return Number(this.totalCostProducts() - this.order.prepayment - this.order.discount)
        },
    },
    methods: {
        changeProductsInCartSelect() {
            this.order.cash_on_delivery = this.totalCostProducts()
        },
        changePrepaymentInput() {
            if (this.order.prepayment > this.maxPrepaymentInput) {
                this.order.prepayment = this.maxPrepaymentInput
            }
            const totalCostProducts = this.totalCostProducts();
            if (totalCostProducts) {
                this.order.cash_on_delivery = Number(totalCostProducts - this.order.discount - this.order.prepayment);
            } else {
                this.order.cash_on_delivery = totalCostProducts
            }
        },
        changeDiscountInput() {
            if (this.order.discount > this.maxDiscountInput) {
                this.order.discount = this.maxDiscountInput
            }
            const totalCostProducts = this.totalCostProducts();
            if (totalCostProducts) {
                this.order.cash_on_delivery = Number(totalCostProducts - this.order.discount - this.order.prepayment);
            } else {
                this.order.cash_on_delivery = totalCostProducts
            }
        },
        changeCashOnDeliveryInput() {
            if (this.order.cash_on_delivery > this.maxCashOnDeliveryInput) {
                this.order.cash_on_delivery = this.maxCashOnDeliveryInput
            }
            const totalCostProducts = this.totalCostProducts();
            this.order.discount = Number(totalCostProducts - this.order.cash_on_delivery - this.order.prepayment);
        },
        totalCostProducts() {
            return this.order.products.reduce(function (sum, product) {
                return Number(sum + product.price * product.quantity_order_product);
            }, 0);
        },
        updateOrder() {
            let order = this.order;
            for (let elem in order) {
                this.$v.order[elem].$touch();
                if (this.$v.order[elem].$anyError) {
                    return;
                }
            }
            this.$emit('updateOrder', order)
        },
        modalClose(){
            $('#modalEdit').modal('toggle');
            return false;
        },
        modalShow(){
            this.order = this.EDIT_ORDER;
            $('#modalEdit').modal('show');
        }
    },
    mounted() {
        console.log('mounted edit')
    },
    watch: {
        "order.products"() {
            if (this.order.products.length) {
                this.prepaymentInput = 'enabled';
                this.discountInput = 'enabled';
                this.cashOnDeliveryInput = 'enabled';
            } else {
                this.prepaymentInput = 'disabled';
                this.discountInput = 'disabled';
                this.cashOnDeliveryInput = 'disabled';
            }
        },
    },
    validations: {
        order: {
            id: {
                integer
            },
            status: {
                required
            },
            first_name: {
                required,
                maxLength: maxLength(50)
            },
            last_name: {
                required,
                maxLength: maxLength(50)
            },
            phone: {
                required,
                maxLength: maxLength(11)
            },
            mail_address: {
                required,
                maxLength: maxLength(255)
            },
            products: {
                required
            },
            prepayment: {
                numeric
            },
            discount: {
                numeric
            },
            cash_on_delivery: {
                numeric
            },
            comment_id: {
                integer
            },
            profit: {
                numeric
            },
        }
    }
};
</script>

<style scoped>

</style>
