<template lang="html">
    <div class="v-main-wrapper">
        <v-header></v-header>
        <keep-alive>
            <router-view></router-view>
        </keep-alive>
    </div>
</template>

<script>
    export default {
        name: "v-main-wrapper",
    };
</script>

<style>
    .v-main-wrapper {
        margin: 0 auto;
        height: 100vh;
        background: url("http://127.0.0.1:8000/assets/images/бизнес.jpg");
        background-size: cover;
    }
    .v-main-wrapper a{
        text-decoration: none;
    }
</style>
