<template>
    <div class="v-footer fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center m-3">©CRM-SALEX - 2022 </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "v-footer"
}
</script>

<style scoped>
    .v-footer{
        background-color: #BBB3B1;
    }
</style>
